{% autoescape off %}
	You're receiving this email because you requested a password. 
	
	You are literally one of three users - MOM, you couldn't remember your password?
	
	I will let this pass this one time, but please don't try this again as you will get this exact same form email. 
	
	password:
		{% block reset_link %}
		{{ protocol }}://localhost:8000{% url
			'django.contrib.auth.views.password_reset_confirm'
			uidb64=uid token=token %}
		{% endblock %}
	Your username, in case you've forgotten: {{ user.username }}
{% endautoescape %}